body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transition: all 0.3s linear;		
	background: linear-gradient(310deg, #1f0d90, #7d339f, #007bff);
	background-size: 600% 600%;
	font-family: 'PT Sans Narrow', sans-serif;	

  	-webkit-animation: gradiente 5s ease-in-out infinite;
	-moz-animation: gradiente 5s ease-in-out infinite;
	animation: gradiente 5s ease-in-out infinite;
}

.header {
	font-size: 5em;
	font-weight: 900;
}

.hot-area {
	height: 150px;
}

.my-jumbotron {
	background: transparent;
}

.jumbotron {
	padding: 15px;
}

.my-btn {
	width: 80%;
	font-size: 40px;

}

textarea {
	resize: none;
	border: 1px solid #7B68EE !important;
}

input:focus, textarea:focus {
    outline: none !important;
}

.reload {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #FFF;
	cursor: pointer;
}
.reload img {
	width: 60px;
}

.link-github {
	position: fixed;
	bottom: 10px;
	color: #FFF;
}

.link-github a {
	color: #FFF;
}

.mandou-bem-lek {
	width: 40%;
}

.toasty .bottom-right {
	position: fixed;
	bottom: 0px;
	right: -35px;
	width: 250px;
}

.toasty .bottom-left {
	position: fixed;
	bottom: -20px;
	left: -15px;
	width: 100px;
	transform: rotate(60deg);
}

.toasty .top-center {
	position: fixed;
	top: 0px;
	left: 50%;
	width: 200px;
	transform: rotate(180deg);
}

.left-left {
	position: fixed;
	top: 20%;
	left: -20px;
	width: 200px;
	transform: rotate(90deg);
}

@media (max-width: 768px){
	.link-github {
		display: none;
	}

	.mandou-bem-lek {
		width: 100%;
	}

	.jumbotron{
		padding: 15px 0;
	}
}

.jumbotron.jumbotron.mt-1{
	box-shadow: 5px 6px 40px 15px rgba(0, 0, 0, 0.25);
}
/* Gradiente */

@-moz-keyframes gradiente {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradiente {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
